<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>forntendService</servlet-name>
        <servlet-class>com.spiczek.chat.backend.service.forntendServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forntendService</servlet-name>
        <url-pattern>/app/forntendService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>clientService</servlet-name>
        <servlet-class>com.spiczek.chat.backend.service.ClientServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clientService</servlet-name>
        <url-pattern>/app/clientService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>tokenService</servlet-name>
        <servlet-class>com.spiczek.chat.backend.service.TokenServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tokenService</servlet-name>
        <url-pattern>/app/TokenService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>messageService</servlet-name>
        <servlet-class>com.spiczek.chat.backend.service.MessageServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>messageService</servlet-name>
        <url-pattern>/app/MessageService</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>app.html</welcome-file>
    </welcome-file-list>

</web-app>
