<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true">
        <intercept-url pattern="/*" access="ROLE_USER" />
    </http>

    <!--<http auto-config='true'>-->
    <!--<intercept-url pattern="/login.html" access="IS_AUTHENTICATED_ANONYMOUSLY" />-->
    <!--<intercept-url pattern="/resources/favicon.ico" access="IS_AUTHENTICATED_ANONYMOUSLY" />-->
    <!--<intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY" />-->
    <!--<logout logout-success-url="/login.html" />-->
    <!--<form-login login-page="/login.html" default-target-url="/index.gwt.html"-->
    <!--always-use-default-target="true" />-->
    <!--<session-management invalid-session-url="/login.html"-->
    <!--session-authentication-error-url="/login.html"-->
    <!--session-fixation-protection="newSession">-->
    <!--<concurrency-control max-sessions="1"-->
    <!--error-if-maximum-exceeded="false" />-->
    <!--</session-management>-->
    <!--</http>-->

    <beans:bean id="gaeAuthenticationProvider" class="com.spiczek.chat.backend.authentication.AuthenticationProvider"/>

    <authentication-manager >
        <authentication-provider ref="gaeAuthenticationProvider"/>
    </authentication-manager>

    <!--<authentication-manager>-->
        <!--<authentication-provider>-->
            <!--<user-service>-->
                <!--<user name="admin" password="admin" authorities="ROLE_USER" />-->
            <!--</user-service>-->
        <!--</authentication-provider>-->
    <!--</authentication-manager>-->
</beans:beans>





